## Final Project Submission

Please fill out:
* Student name: Cecilia Ngunjiri
* Student pace: Part Time
* Scheduled project review date/time: 1st September 2024
* Instructor name: Samuel Karu
* Blog post URL:

## Business Understanding

### Business Problem Statement

### Objective

To identify and mitigate customer churn for SyriaTel, a telecommunications company, by developing predictive models that can accurately forecast which customers are likely to stop doing business with the company in the near future.

 The goal is to build a classification model that can predict whether a customer will churn soon (binary outcome: 0 for "not churn" and 1 for "churn") based on historical data.

Customer churn, or the rate at which customers discontinue their subscription or service, is a critical issue for telecommunications companies. High churn rates can significantly impact revenue and operational efficiency. Understanding and predicting churn is crucial for implementing effective retention strategies and improving customer satisfaction.

### Column Descriptions

State: The state where the customer is located.

Account Length: How long the customer has had their account.

Area Code: The area code of the customer’s phone number.

Phone Number: The customer's phone number.

International Plan: Whether the customer has an international calling plan (yes/no).

Voice Mail Plan: Whether the customer has a voicemail plan (yes/no).

Number Vmail Messages: The number of voicemail messages.

Total Day Minutes, Calls, Charge: Usage and cost information for daytime calls.

Total Eve Minutes, Calls, Charge: Usage and cost information for evening calls.

Total Night Minutes, Calls, Charge: Usage and cost information for night calls.

Total Intl Minutes, Calls, Charge: Usage and cost information for international calls.

Customer Service Calls: Number of calls the customer made to customer service.

Churn: Whether the customer has stopped using the service (yes/no).

## Data Understanding

Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

In [2]:
# Load the dataset
data = pd.read_csv('telecom_churn.csv')
data

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False